* {
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0px;
}

.page-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 9.5fr 0.5fr;
}

.header {
    background-color: #7ca982;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    letter-spacing: 0.2em;
}

.main-content-grid {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}

.center-column-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2/3;
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
}

.board-container-flex {
    display: flex;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
}

.board-container {
    height: 200px;
    width: 200px;
    position: relative;
    grid-row: 2/3;
}

.horizontal-lines, .vertical-lines {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
}

.horizontal-lines {
    grid-template-rows: 1fr 1fr 1fr;
}

.vertical-lines {
    grid-template-columns: 1fr 1fr 1fr;
}

.line-bottom {
    border-bottom: black solid 1px;
}

.line-right {
    border-right: black solid 1px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6d4ba;
}

.footer a {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    color: #000;
    cursor: pointer;
    padding: 5px;
}

.footer img {
    height: 1.3em;
}

.board-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.square {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.square:hover {
    background-color: brown;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
}

.winner-banner {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2.5em;
}

.reset {
    /* align-self: flex-end; */
    width: 80px;
    height: 60px;

}